:root {
    /* --el-color-primary: #134563; */
    --el-color-primary: rgb(102, 193, 179);
    /* menu active */
    --el-color-primary-light-3: #29abb4;
    --el-color-primary-light-5: #8decec;
    --el-color-primary-light-7: #aceaf0;
    --el-color-primary-light-8: #c3e2f4;
    /* --el-color-primary-light-9: #e0f8ee; */
    /* menu hover */
    --el-color-primary-light-9: rgba(158, 205, 153, 0.2);
    --el-color-primary-dark-2: #2d7ed0;

  }