.el-menu-item.is-active {
    background-color: rgba(158, 205, 153, 0.2);
}

.el-menu-item {
    border-radius: 45px;
    margin: 0.5rem 1rem;
}

.el-sub-menu__title {
    border-radius: 45px;
    margin: 0.5rem 1rem;
}